include *.rst
include *.txt
include .travis.yml
include LICENSE
include MANIFEST.in
include mopidy_spotify/ext.conf
include mopidy_spotify/spotify_appkey.key
include tox.ini

recursive-include tests *.py
