name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - name: "Install dependencies"
      run: python3 -m pip install wheel
    - name: "Build package"
      run: python3 setup.py sdist bdist_wheel
    - uses: pypa/gh-action-pypi-publish@v1.4.1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
